[package]
authors = ['Mathwallet DevHub <https://github.com/mathwallet>']
build = 'build.rs'
description = 'A fresh FRAME-based Substrate node, ready for hacking.'
edition = '2018'
homepage = 'https://mathwallet.net/mathchain'
license = 'Unlicense'
name = 'mathchain'
repository = 'https://github.com/mathwallet/MathChain/'
version = '0.4.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[[bin]]
name = 'mathchain'

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }

[dependencies]
futures = "0.3.4"
log = "0.4.8"
jsonrpc-core = '15.0.0'
jsonrpc-pubsub = "15.0.0"
parking_lot = '0.9.0'
trie-root = '0.15.2'
codec = { package = 'parity-scale-codec', version = '1.0.0' }
structopt = '0.3.8'
serde = { version = "1.0.119", features = ["derive"] }
hex-literal = "0.2.1"

# local dependencies
mathchain-runtime = { path = '../runtime', version = '0.1.0' }
galois-runtime-config = { path = '../runtime/galois', package = 'mathchain-runtime-galois'}
mathchain-runtime-config = { path = '../runtime/mathchain', package = 'mathchain-runtime-mathchain'}

# Parachain dependencies
rococo-parachain-primitives = { path = "../vendor/cumulus/rococo-parachains/primitives" }

# Substrate dependencies
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-basic-authorship = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-cli = { features = ['wasmtime'], git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-client-api = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-consensus = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-consensus-aura = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-executor = { features = ['wasmtime'], git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-network = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-finality-grandpa = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-chain-spec = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-rpc = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-rpc-api = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-service = { features = ['wasmtime'], git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-consensus-manual-seal = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-api = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-block-builder = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-blockchain = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-consensus = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-inherents = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sp-timestamp = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
sc-keystore = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1" }

mathchain-consensus = { path = "../consensus" }
pallet-evm = { path = "../vendor/frontier/frame/evm" }
pallet-ethereum = { path = "../vendor/frontier/frame/ethereum" }
fc-consensus = { path = "../vendor/frontier/client/consensus" }
fp-consensus = { path = "../vendor/frontier/primitives/consensus" }
fc-rpc = { path = "../vendor/frontier/client/rpc" }
fp-rpc = { path = "../vendor/frontier/primitives/rpc" }
fc-rpc-core = { path = "../vendor/frontier/client/rpc-core" }

# Cumulus dependencies
cumulus-consensus = { path = "../vendor/cumulus/consensus" }
cumulus-collator = { path = "../vendor/cumulus/collator" }
cumulus-network = { path = "../vendor/cumulus/network" }
cumulus-primitives = { path = "../vendor/cumulus/primitives" }
cumulus-service = { path = "../vendor/cumulus/service" }

# Polkadot dependencies
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-service = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-cli = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-test-service = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }

[features]
runtime-benchmarks = ['mathchain-runtime/runtime-benchmarks']
